@model PlayerHelp.Models.PlayerModel
@{
    ViewBag.Title = "Login";
}
<style>
    #login-div {
        margin-left: 35%;
        padding: 10px;
    }
    .field-validation-error{
        color: red;
    }
    .td-title{
        font-size: 20px;
        letter-spacing: 2px;
        text-align: center;
        
    }
    .td-username{
        letter-spacing: 1px;
    }
    .td-password{
        letter-spacing: 1px;
    }
</style>

<div id="login-div">
    @using (Html.BeginForm("Authorise", "", FormMethod.Post))
    {
    <table>
        <tr>
            <td></td>
            <td class="td-title">Login</td>
        </tr>
        <tr>
            <td class="td-username">@Html.LabelFor(model => model.Username)</td>
            <td>@Html.EditorFor(model => model.Username)</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(model => model.Username)</td>
        </tr>
        <tr>
            <td class="td-password">@Html.LabelFor(model => model.Password)</td>
            <td>@Html.EditorFor(model => model.Password)</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(model => model.Password)</td>
        </tr>
        <tr>
            <td colspan="2">
                <label class="field-validation-error">@TempData["Message"]</label>
            </td>
        </tr>
        <tr>
                <td></td>
                <td>
                    <center>
                        <input type="submit" value="Login" />
                        <input type="reset" value="Clear" />
                    </center>
                </td>
        </tr>
    </table>
    }
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src='@Url.Content("~/Scripts/jquery-1.8.2.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>
}
